<!DOCTYPE html>
    #include("/templates/webAdmin/inc/inc_header.vm")
<body>
<div class="layui-layout layui-layout-admin">
    #parse("/templates/webAdmin/inc/inc_menu.vm")
    <div class="layui-body" style="padding:10px">
        <div class="breadcrumb">
            <i class="fa fa-flag"></i>
            <span><a href="/webAdmin/toIndex">主页</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span><a href="#">档案管理</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span><a><cite>档案借阅信息</cite></a></span>
        </div>
        <div id="borrowMenuBar"> <!--将所有的菜单聚集在一起.一块进行监听-->
            <div class="layui-row">
                <div class="layui-col-md6">
                    搜索：
                    <div class="layui-inline" style="width:70%">
                        <input class="layui-input" name="key" id="searchKey" aria-required="true"
                               autocomplete="off"
                               style="width:100%;">
                    </div>
                    <button class="layui-btn" data-method="search">搜索</button>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-btn-group">
                        <button class="layui-btn" data-method="new">借阅</button>
                        #if($roleId !=2 )
                            <button class="layui-btn" data-method="modify1">借阅处理</button>
                            <button class="layui-btn" data-method="modify2">归还处理</button>
                        #end
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hidden" id="borrowTable" lay-filter="borrowTable"></table>
    </div>
</div>

<!-- form 表单 -->
<form class="layui-form" id="borrowForm" style="display:none;padding:10px 40px 10px 0px; ">
    <div class="layui-form-item">
        <label class="layui-form-label">档案信息</label>
        <div class="layui-inline" style="width:360px;">
            <input type="text" name="recordTitle" id="recordTitle" readonly required lay-verify="required"
                   placeholder="请选择档案信息" aria-required="true" autocomplete="off" class="layui-input">
            <input type="hidden" name="recordId" id="recordId">
        </div>
        <div class="layui-inline">
            <span id="borrowBtn" style="cursor:pointer" class="layui-btn"><i class="layui-icon">&#xe681;
            </i>选择
            </span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">借阅天数</label>
        <div class="layui-input-block">
            <input type="number" name="borrowDayNum" required lay-verify="required" placeholder="请输入借阅天数"
                   aria-required="true" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="note" class="layui-textarea"></textarea>
        </div>
    </div>

    <input type="hidden" name="id" id="id" value="0"/>
    <input type="hidden" name="actionUrl" id="actionUrl" value=""/>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="borrowForm">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="layer.closeAll()">取消</button>
        </div>
    </div>
</form>
    #include("/templates/webAdmin/inc/inc_foot.vm")

<script type="text/html" id="isBackTemplet">
    {{#
    if(d.isBack && d.isBack != null)
    {
    }}
    <font color="green">已归还</font>
    {{#
    }
    else if(!d.isBack && d.isBack != null)
    {
    }}
    <font color="red">未归还</font>
    {{#
        }
    else
    {
    }
    }}
</script>

<script type="text/html" id="isBackLaterTemplet">
    {{#
    if(d.isBackLater && d.isBackLater != null )
    {
    }}
    <font color="red">延期归还</font>
    {{#
    }
    else if(!d.isBackLater && d.isBackLater != null )
    {
    }}
    <font color="green">按时归还</font>
    {{#
    }
    else
    {
    }}

    {{#
    }
    }}
</script>

<script type="text/javascript">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var borrowTable = table.render({
            elem: '#borrowTable'
            , id: 'borrowTable'
            , url: '/webAdmin/borrow/list'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 80, sort: true, fixed: true}
                , {field: 'recordTitle', title: '档案名称', width: 200, sort: true, fixed: true}
                , {field: 'borrowName', title: '借阅人', width: 120, sort: true, fixed: true}
                , {field: 'borrowDate', title: '借阅日期', width: 120, sort: true, fixed: true}
                , {field: 'borrowDayNum', title: '借阅天数', width: 120, sort: true}
                , {field: 'dealName', title: '处理人', width: 120, sort: true}
                , {field: 'isBack', title: '是否归还', width: 200, sort: true,templet:'#isBackTemplet'}
                , {field: 'backDate', title: '归还日期', width: 200, sort: true}
                , {field: 'isBackLater', title: '归还状态', width: 200, sort: true,templet:'#isBackLaterTemplet'}
                , {field: 'note', title: '备注', width: 200, sort: true}
            ]]
            , height: 'full-200'
            , limit: 40
            , page: true
        });


        // 类型选择
        $('#borrowBtn').on('click', function () {
            layer.open({
                id: 'typeSelectWindow',
                type: 2,
                anim: 5,
                shade: .2,
                title: '档案选择',
                btn: ['确定', '取消'],
                area: ['800px', '600px'],
                resize: false,
                content: "/popu/record/toSelect?sessionId=" + new Date().getTime(),
                yes: function (index, layero) {
                    var data = document.returnValue;
                    if (data)
                    {
                        $('#recordTitle').val(data.title);
                        $('#recordId').val(data.id);
                    }
                    layer.close(index);
                    document.returnValue = null;
                },
                cancel: function (index, layero) {
                    layer.close(index);
                    return false;
                }
            });
        });

        //触发事件
        var active = {
            search: function () {
                var keyValue = $('#searchKey').val();
                borrowTable.reload({where: {key: keyValue}});
            }
            , new: function () {
                $('#borrowForm')[0].reset();
                $('#actionUrl').val("new");
                $('#id').val('0');
                layer.open({
                    type: 1
                    , title: "借阅"
                    , closeBtn: 1
                    , area: '650px;'
                    , shade: 0.2
                    , id: 'borrowFormWindow'
                    , moveType: 1
                    , resize: false
                    , content: $('#borrowForm')
                });
            }
            , modify1: function () {
                var checkStatus = table.checkStatus('borrowTable'), data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg('您必须选中一条需要借阅处理的记录');
                    return false;
                }
                else if (data.length > 1) {
                    layer.msg('您在借阅处理的时候,不能选中多条记录');
                    return false;
                }
                else if(data[0].dealId != null)
                {
                    layer.msg('当前记录已经做借阅处理,不能重复处理!');
                    return false;
                }
                else if(data[0].isBack)
                {
                    layer.msg('当前记录已经归还!');
                    return false;
                }
                else {
                    var id = data[0].id;
                    layer.open({
                        type: 1
                        , id: 'borrowDeleteAccept'
                        , content: '<div style="padding: 20px 30px;">是否真的要处理选中的记录?</div>'
                        , btn: ['确定', '取消']
                        , btnAlign: 'c'
                        , shade: 0.2
                        , resize: false
                        , yes: function () {
                            layer.closeAll();
                            $.ajax({
                                type: 'post',
                                data: {id: id},
                                url: '/webAdmin/borrow/modify1',
                                success: function (json) {
                                    if (json.success) {
                                        layer.alert(json.message, {closeBtn: 0}, function () {
                                            layer.closeAll();
                                            borrowTable.reload();
                                        });
                                    }
                                    else {
                                        layer.alert(json.message);
                                    }
                                },
                                error: function (json) {
                                    layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                                        layer.closeAll();
                                        window.location.reload();
                                    });
                                }
                            });
                            return false;
                        }
                    });
                }
            }
            , modify2: function () {
                var checkStatus = table.checkStatus('borrowTable'), data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg('您必须选中一条需要归还处理的记录');
                    return false;
                }
                else if (data.length > 1) {
                    layer.msg('您在归还处理的时候,不能选中多条记录');
                    return false;
                }
                else if(data[0].dealId == null)
                {
                    layer.msg('当前记录还未借阅处理,不能做归还处理!');
                    return false;
                }
                else if(data[0].isBack)
                {
                    layer.msg('当前记录已经归还!');
                    return false;
                }
                else {
                    var id = data[0].id;
                    layer.open({
                        type: 1
                        , id: 'borrowDeleteAccept'
                        , content: '<div style="padding: 20px 30px;">是否真的要处理选中的记录?</div>'
                        , btn: ['确定', '取消']
                        , btnAlign: 'c'
                        , shade: 0.2
                        , resize: false
                        , yes: function () {
                            layer.closeAll();
                            $.ajax({
                                type: 'post',
                                data: {id: id},
                                url: '/webAdmin/borrow/modify2',
                                success: function (json) {
                                    if (json.success) {
                                        layer.alert(json.message, {closeBtn: 0}, function () {
                                            layer.closeAll();
                                            borrowTable.reload();
                                        });
                                    }
                                    else {
                                        layer.alert(json.message);
                                    }
                                },
                                error: function (json) {
                                    layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                                        layer.closeAll();
                                        window.location.reload();
                                    });
                                }
                            });
                            return false;
                        }
                    });
                }
            }
        };
        //总体上调用,是那个按钮激活哪个
        $('#borrowMenuBar .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
        //form submit新建修改事件提交
        form.on('submit(borrowForm)', function (data) {
            var actionUrl = "/webAdmin/borrow/" + $('#actionUrl').val();
            $.ajax({
                type: 'post',
                data: $('#borrowForm').serialize(),
                url: actionUrl,
                success: function (json) {
                    if (json.success) {
                        layer.alert(json.message, {closeBtn: 0}, function () {
                            layer.closeAll();
                            borrowTable.reload();
                        });
                    }
                    else {
                        layer.alert(json.message);
                    }
                },
                error: function (json) {
                    layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                        layer.closeAll();
                        window.location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>

</body>
</html>
