<!DOCTYPE html>
    #include("/templates/webAdmin/inc/inc_header.vm")
<body>
<div class="layui-layout layui-layout-admin">
    #parse("/templates/webAdmin/inc/inc_menu.vm")
    <div class="layui-body" style="padding:10px">
        <div class="breadcrumb">
            <i class="fa fa-flag"></i>
            <span><a href="/webAdmin/toIndex">主页</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span><a href="#">系统设置</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span><a><cite>角色管理</cite></a></span>
        </div>
        <div id="roleMenuBar"> <!--将所有的菜单聚集在一起.一块进行监听-->
            <div class="layui-row">
                <div class="layui-col-md6">
                    搜索：
                    <div class="layui-inline" style="width:70%">
                        <input class="layui-input" name="key" id="searchKey" aria-required="true"
                               autocomplete="off"
                               style="width:100%;">
                    </div>
                    <button class="layui-btn" data-method="search">搜索</button>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-btn-group">
                        <button class="layui-btn" data-method="new">新建</button>
                        <button class="layui-btn" data-method="modify">修改</button>
                        <button class="layui-btn" data-method="delete">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hidden" id="roleTable" lay-filter="roleTable"></table>
    </div>
</div>

<!-- form 表单 -->
<form class="layui-form" id="roleForm" style="display:none;padding:10px 40px 10px 0px; ">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="roleName" required lay-verify="required|length22" placeholder="请输入功能名称"
                   aria-required="true" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">功能</label>
        <div class="layui-input-block" id="functionIdDiv">

        </div>
    </div>

    <input type="hidden" name="id" id="id" value="0"/>
    <input type="hidden" name="actionUrl" id="actionUrl" value=""/>
    <input type="hidden" name="createTime"/>
    <input type="hidden" name="updateTime"/>
    <input type="hidden" name="functionId" id="functionId"/>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="roleForm">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="layer.closeAll()">取消</button>
        </div>
    </div>
</form>




    #include("/templates/webAdmin/inc/inc_foot.vm")
<script type="text/javascript">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var roleTable = table.render({
            elem: '#roleTable'
            , id: 'roleTable'
            , url: '/webAdmin/role/list'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 80, sort: true, fixed: true}
                , {field: 'roleName', title: '角色名称', width: 200, sort: true, fixed: true}
                , {field: 'createTime', title: '创建时间', width: 120, sort: true}
            ]]
            , height: 'full-200'
            , limit: 40
            , page: true
        });

        function initFunction()
        {
            $.ajax({
                async: false, //同步
                url: '/webAdmin/function/listAll',
                success: function (json) {
                    if (json.success)
                    {
                        $('#functionIdDiv').text('');
                        var htmlVar = '';
                        for (var i = 0; i < json.data.length; i++) {
                            if (json.data[i].parentId != '0')
                            {
                                htmlVar += "<input type=\"checkbox\" id=\"function_" + json.data[i].id +
                                           "\" " +
                                           "value=\"" + json.data[i].id + "\" " +
                                           "title=\"" + json.data[i].functionName +
                                           "\" lay-skin=\"primary\" lay-filter=\"functionCheckbox\" />";
                            }
                        }
                        $('#functionIdDiv').append(htmlVar);
                    }
                    else {
                        layer.msg(json.message);
                        return;
                    }
                },
                error: function (json) {
                    layer.alert("未知的错误！", {closeBtn: 0}, function () {
                        layer.closeAll();
                    });
                }
            });
        }

        //触发事件
        var active = {
            search: function () {
                var keyValue = $('#searchKey').val();
                roleTable.reload({where: {key: keyValue}});
            }
            , new: function () {
                $('#roleForm')[0].reset();
                $('#actionUrl').val("new");
                $('#id').val('0');
                initFunction();
                layer.open({
                    type: 1
                    , title: "新建"
                    , closeBtn: 1
                    , area: '650px;'
                    , shade: 0.2
                    , id: 'roleFormWindow'
                    , moveType: 1
                    , resize: false
                    , content: $('#roleForm')
                });
            }
            , modify: function () {
                var checkStatus = table.checkStatus('roleTable'), data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg('您必须选中一条需要修改的记录');
                    return false;
                }
                else if (data.length > 1) {
                    layer.msg('您在修改的时候,不能选中多条记录');
                    return false;
                }
                else {
                    var id = data[0].id;
                    $.ajax({
                        type: 'get',
                        url: '/webAdmin/role/info?id=' + id + '&sessionId=' + new Date().getTime(),
                        success: function (json) {
                            if (json.success) {
                                initFunction();
                                form.loadData(json.data, 'roleForm');
                                $('#actionUrl').val("modify");

                                //设置 功能 复选框
                                var functionIdVal = $('#functionId').val();
                                var functionIdVals = functionIdVal.split(',');
                                for(var i=0,len=functionIdVals.length;i<len;i++)
                                {
                                    $('#function_'+functionIdVals[i]).prop("checked",true);
                                }

                                form.render();
                                layer.open({
                                    type: 1
                                    , title: "修改"
                                    , closeBtn: 1
                                    , area: '650px;'
                                    , shade: 0.2
                                    , id: 'roleFormWindow'
                                    , moveType: 1
                                    , resize: false
                                    , content: $('#roleForm')
                                    , success: function (layero) {

                                    }
                                });
                            }
                            else {
                                layer.msg(json.message);
                            }
                        },
                        error: function (json) {
                            layer.alert("未知的错误！", {closeBtn: 0}, function () {
                                layer.closeAll();
                            });
                        }
                    });
                }
            }
            , delete: function () {
                var checkStatus = table.checkStatus('roleTable'), data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg('您必须最少选中一条需要删除的记录');
                    return false;
                }
                layer.open({
                    type: 1
                    , id: 'roleDeleteAccept'
                    , content: '<div style="padding: 20px 30px;">是否真的要删除选中的记录?</div>'
                    , btn: ['确定', '取消']
                    , btnAlign: 'c'
                    , shade: 0.2
                    , resize: false
                    , yes: function () {
                        layer.closeAll();
                        var idArray = new Array();
                        for (var i = 0; i < data.length; i++) {
                            idArray[i] = data[i].id;
                        }
                        $.ajax({
                            type: 'post',
                            data: {ids: idArray.toString()},
                            url: '/webAdmin/role/delete',
                            success: function (json) {
                                if (json.success) {
                                    layer.alert(json.message, {closeBtn: 0}, function () {
                                        layer.closeAll();
                                        roleTable.reload();
                                    });
                                }
                                else {
                                    layer.alert(json.message);
                                }
                            },
                            error: function (json) {
                                layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                                    layer.closeAll();
                                    window.location.reload();
                                });
                            }
                        });
                        return false;
                    }
                });
            }
        };
        //总体上调用,是那个按钮激活哪个
        $('#roleMenuBar .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        // 功能 复选框 点击
        form.on('checkbox(functionCheckbox)', function (data) {
            var functionIdVal = $('#functionId').val();
            if (data.elem.checked)
            {
                functionIdVal += data.value + ",";
            }
            else
            {
                functionIdVal = functionIdVal.replace(data.value+",","");
            }
            $('#functionId').val(functionIdVal);
            console.log($('#functionId').val());
        });
        //form submit新建修改事件提交
        form.on('submit(roleForm)', function (data) {
            var actionUrl = "/webAdmin/role/" + $('#actionUrl').val();
            $.ajax({
                type: 'post',
                data: $('#roleForm').serialize(),
                url: actionUrl,
                success: function (json) {
                    if (json.success) {
                        layer.alert(json.message, {closeBtn: 0}, function () {
                            layer.closeAll();
                            roleTable.reload();
                        });
                    }
                    else {
                        layer.alert(json.message);
                    }
                },
                error: function (json) {
                    layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                        layer.closeAll();
                        window.location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>

</body>
</html>
