<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nature.mapper.record.RecordMapper">

    <!--基础 表字段定义 -->
    <sql id="basicColumn">
        id,title,fileUrl,typeId,typeTitle,labelId,labelTitle,status,note,author,publish,createId,createName,
        createDate
    </sql>

    <!-- 查询所有数据 -->
    <select id="list" resultType="Record" parameterType="java.lang.String">
        select
        <include refid="basicColumn"/>
        from record_record
        <where>
            <if test="key != null">
                title like concat(concat('%',#{key}),'%')
                or note like concat(concat('%',#{key}),'%')
                or typeTitle like concat(concat('%',#{key}),'%')
                or labelTitle like concat(concat('%',#{key}),'%')
                or author like concat(concat('%',#{key}),'%')
                or publish like concat(concat('%',#{key}),'%')
                or createName like concat(concat('%',#{key}),'%')
            </if>
        </where>
        order by id desc
    </select>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="Record" parameterType="java.lang.Integer">
        select
        <include refid="basicColumn"></include>
        from record_record where id = #{id}
    </select>

    <!-- 新建 -->
    <insert id="add" parameterType="Record" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO record_record (title,fileUrl,typeId,typeTitle,labelId,labelTitle,status,note,author
        ,publish,createId,createName,createDate)
        VALUES ( #{title},#{fileUrl},#{typeId},#{typeTitle},#{labelId},#{labelTitle},#{status},
        #{note},#{author},#{publish},#{createId},#{createName},#{createDate})
    </insert>

    <!-- 修改-->
    <update id="modify" parameterType="Record">
        UPDATE record_record set title =#{title},fileUrl=#{fileUrl},typeId=#{typeId},typeTitle=#{typeTitle},
        labelId=#{labelId},labelTitle=#{labelTitle},note=#{note},author=#{author},publish=#{publish}
        WHERE  id = #{id}
    </update>


    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM record_record WHERE  id = #{id} and status = 1
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM record_record WHERE id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            ${item}
        </foreach>
        and status = 1
    </delete>


</mapper>