<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>档案管理系统</title>
    <link rel="stylesheet" href="/static/design/css/layui.css">
    <link rel="stylesheet" href="/static/design/css/ch233.min.css">
</head>
