<script src="/static/design/js/jquery-3.2.1.min.js"></script>
<script src="/static/design/js/ch233.min.js"></script>
<script src="/static/design/js/md5.js"></script>
<script src="/static/design/layui.js"></script>


<!-- 密码修改 表单 -->
<form class="layui-form" id="passwordModifyForm" style="display:none;padding:10px 40px 10px 0px; ">
    <div class="layui-form-item">
        <label class="layui-form-label">原始密码</label>

        <div class="layui-input-block">
            <input type="password" name="loginPass" required lay-verify="required|pass" placeholder="请输入原始密码"
                   autocomplete="off" class="layui-input"  aria-required="true">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>

        <div class="layui-input-block">
            <input type="password" name="loginPassN" id="loginPassN" required  placeholder="请输入新密码"
                   autocomplete="off" class="layui-input" lay-verify="required|pass" aria-required="true">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码验证</label>

        <div class="layui-input-block">
            <input type="password" id="loginPassA" required lay-verify="required|pass" placeholder="请输入新密码验证"
                   autocomplete="off" class="layui-input" aria-required="true">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <!--lay-filter 表示作用到 id:passwordModifyForm-->
            <button class="layui-btn" lay-submit lay-filter="passwordModifyForm">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="layer.closeAll()">取消</button>
        </div>
    </div>
</form>


<script type="text/javascript">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var active = {
            passModify: function () {
                $('#passwordModifyForm')[0].reset();
                layer.open({
                    type: 1
                    , title: "密码修改" //不显示标题栏
                    , closeBtn: 1
                    , area: '800px;'
                    , shade: 0.2
                    , id: 'passwordModifyWindow' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , resize:false
                    , content: $('#passwordModifyForm') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响,winForm 指新建和修改的表单
                    , success: function (layero) {
                        //这里去写完成后的事件
                    }
                });
            },
            loginOut: function () {
                layer.open({
                    type: 1
                    , area: ['300px', '180px']
                    , id: 'loginOutAccept' //防止重复弹出
                    , content: '<div style="padding: 20px 30px;">是否退出当前登录?</div>'
                    , btn: ['确定', '取消']
                    , btnAlign: 'c' //按钮居中
                    , shade: 0.2 //显示遮罩
                    , resize:false
                    , yes: function () {
                        layer.closeAll();
                        window.location.href = "/webAdmin/loginOut";
                    }
                });
            }
        };
        element.on('nav(topMenu)', function (elem) {
            var method = elem[0].childNodes[0].id;
            active[method] ? active[method].call(this, elem) : '';
        });
        //form submit新建修改事件提交
        form.on('submit(passwordModifyForm)', function (data) {
            var loginPassN = $('#loginPassN').val();
            var loginPassNA = $('#loginPassA').val();
            if (loginPassN != loginPassNA)
            {
                layer.msg('两次密码不一致');
                return false;
            }
            var actionUrl = "/webAdmin/admin/passwordModify";
            $.ajax({
                type: 'post',
                data: data.field,
                url: actionUrl,
                success: function (json) {
                    if (json.success) {
                        layer.alert(json.message, {closeBtn: 0}, function () {
                            layer.closeAll();
                        });
                    }
                    else {
                        layer.alert(json.message);
                    }
                },
                error: function (json) {
                    layer.alert("登录超时,请重新登录！", {closeBtn: 0}, function () {
                        layer.closeAll();
                        window.location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>


<script>
    layui.use(['jquery','element'], function () {
        var $ = layui.jquery;
        var element = layui.element;
        var nowHref=window.location.pathname;
        //以下是让点击哪个链接就到哪个链接上
        $("#leftMainMenu").find('a').each(function() {
            var tempHref=$(this).attr("href");
            if(nowHref==tempHref)
            {
                $(this).parent().addClass("layui-this");
            }
            else
            {
                $(this).parent().removeClass("layui-this");
            }
        });
        //以下是增加方法.让收起的菜单在新开页面中还是收起
        $(".layui-nav-item-first").click(function()
        {
            var cookieName=hex_md5($(this).html());
            if($(this).parent().hasClass("layui-nav-itemed")) //如果Li是开启状态
            {
                document.cookie = cookieName + "="+ true + ";path=/;expires=7";
            }
            else
            {
                document.cookie = cookieName + "="+ false + ";path=/;expires=7";
            }
        });
        $("#leftMainMenu").find('.layui-nav-item-first').each(function()
        {
            var cookieName=hex_md5($(this).html());
            var arr,reg=new RegExp("(^| )"+cookieName+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
            {
                if(unescape(arr[2])=='true')
                {
                    $(this).parent().addClass("layui-nav-itemed");
                }
                else
                {
                    $(this).parent().removeClass("layui-nav-itemed");
                }
            }
        });

    });
</script>